body, html {
  height: 100%;
}

body {
  /* The image used */
 background-color: black;
}

/*.links {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}*/

.links-container {
  	width: 100%;
    text-align: center;
}

.googleIcon {

	width: 25%;
	height: auto;
}

img {
  width: 70%;
  height: auto;
}