body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../assets/New Project.png");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.links {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}*/

.links-container {
  width: 100%;
    text-align: center;
    position: absolute;
    //left: 42px;
    bottom: 0px;


}
