body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/39/26/a5mn3T.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.links {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}*/

.links-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
